<section class="mood-section">

  <div class="container mood-container">

    <div class="d-flex justify-content-center" id="mood-log">
      <h1 class="mood-log-text">Mood Log</h1>
    </div>

    <div class="moods-container">
    <div class="justify-content: flex-start"><h4>Most recent</h4></div>

      <div class="mood-board">
        <% @moods.sort_by{ |mood| mood.id }.each do |mood|  %>
        <% if mood.mood_name != "#" %>
        <div class='task-row'>
          <div class="mood-date"><p><%= mood.day.calendar_date.strftime('%d %b %Y') %></p></div>
          <div class='mood-notes'><p><%= mood.mood_notes %></p></div>
          <div class='mood-emoji'><p><%= mood.mood_name %></p></div>
        </div>
        <% end %>

        <% end %>
      </div>
    </div>

  </div>

</section>
