// Define variables for your color scheme
$peach: #EF9D82;
$lightblue:#D9DEFD;
$darkblue: #456FAB;
$black: #2B292D;
$white: #FFFFFF;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
