// Define variables for your color scheme
$peach: #EF9D82;
$lightblue:#D9DEFD;
$darkblue: #456FAB;
$black: #2B292D;
$white: #FFFFFF;

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$clarity-pink: #ef9d82;
$clarity-blue: #456fab;
