<%# Top Card Section  %>

<section class="days-index">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="index-welcome">
          <h1 class="welcome-message">
            Hello, Sophie &#128075;
          </h1>
          <p class="landing-desc">
            Let's start a day!
          </p>
          <div class="task-card">
            <div class="row-card">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">2</h5>
                  <div class="task">
                    <p class="card-text">Task 1.</p>
                  </div>
                  <div class="task">
                    <p class="card-text">Task 2.</p>
                  </div>
                  <div class="task">
                    <p class="card-text">Task 3.</p>
                  </div>
                  <div class="task">
                    <p class="card-text">Task 4.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="task-card">
              <div class="row-card">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title-center">3</h5>
                    <div class="task">
                      <p class="card-text">1.Prepare quote for key client.</p>
                    </div>
                    <div class="task">
                      <p class="card-text">2.Call supplier for delivery details.</p>
                    </div>
                    <button class="card-btn"><%= link_to "Pomodoro", "/days/61" %></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="task-card">
              <div class="row-card">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">4</h5>
                    <div class="task">
                      <p class="card-text">Task 1.</p>
                    </div>
                    <div class="task">
                      <p class="card-text">Task 2.</p>
                    </div>
                    <div class="task">
                      <p class="card-text">Task 3.</p>
                    </div>
                    <div class="task">
                      <p class="card-text">Task 4.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%# calendar Section  %>
<section id="calendar" class="index-calendar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="calendar_container">
        <div class="calendar">
          <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date">
              <h1></h1>
              <p></p>
            </div>
            <i class="fas fa-angle-right next"></i>
          </div>
          <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="days">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
