.day-show {
  background-color: $peach !important;
  display: flex;
  min-height: 90vh;
}

.task-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.task-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  width: 100%;
  & > form {
    width: 100%;
  }
}

.task-list-title {
  border: 1px solid $darkblue;
  border-radius: 25px;
  background-color: white;
  width: 84%;
  left: 40px;
  padding: 0.375rem 0.75rem;
}

.task-list-title.disabled {
  border: 1px solid $midblue;
}


.task-title p {
  text-align: left;
  margin: 0;
}

.day-component {
 // justify-content:center;
  margin: 10% 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.day-component h2 {
  text-align: center !important;
  color: $darkblue;
  margin-top: 15px;
}

.task-title {
  font-size: 20px;
  text-align: left;
}

.task-todo {
  background-color: lightgray;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid white;
}

.task-todo:hover {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid grey;
}

.task-done {
  color: $darkblue;
  border: 0;
  font-size: 25px;
  height: 25px;
  background: none;
  padding: 0;
}

.task-done i {
  position: relative;
  bottom: 4px;
}

.task-done:hover {
  color: $midblue;
}

.pomodoro-container {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 15px 0;
  padding: 20px 0 10px;
}
