.navbar-lewagon {
  background: white;
}

.navbar-title a {
  color: $clarity-blue;
  font-size: 28px;
  margin-right: 30px;
  letter-spacing: -1px;
}

.nav-container {
  display: flex;
}
.navbar-lewagon .navbar-title img {
  width: 40px;
}

.nav-tab:hover {
  opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link {
  color: $clarity-pink;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: $clarity-pink;
}

.nav-right {
  display: flex;
  margin-left: 450px;
}

// search form
.search-form {
  color: #ffff;
}
.search-input {
  width: 300px;
  height: 32px;
  background-color: $clarity-pink;
  color: #ffff;
  border-style: none;
  border-radius: 30px;
  font-size: 12px;
}

span > .log-in {
  color: black;
  text-decoration: none;
}
