.timer-container {
  display: flex;
  justify-content: center;
}

.pomo-button-container {
  display: flex;
  justify-content: center;
}

.spr-button-container {
  display: flex;
  justify-content: center;
}

.timer-button {
  margin: 0.5em;
  border-radius: 5px;
}

#work-btn {
  font-family: "Playfair Display", serif;
  background-color: #ef9d82;
  color: white;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#short-break-btn {
  font-family: "Playfair Display", serif;
  background-color: #ef9d82;
  color: white;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#long-break-btn {
  font-family: "Playfair Display", serif;
  background-color: #ef9d82;
  color: white;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#start-btn {
  color: #ef9d82;

}


#time-display {
  font-size: 150px;
  font-family: "Playfair Display", serif;
  color: #456fab;
}

.active + .text {
  display: block;
}
