.mood-edit {
  background-color: $darkblue;
  color: $white;
  height: 110vh;
  display: flex;
  padding: 100px auto;
}

// emoji box
fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 180px;
  height: 90px;
}

//emoji
fieldset > div {
  cursor: pointer;
}
fieldset > div > label {
  font-size: 60px;
}

input[type="radio"]:checked + label {
  border-bottom: 3px solid $darkblue;
}

// emoji try

input[type="radio"] {
  // display: none;

  opacity: 0;
  width: 100px;
  height: 100px;
}

input[type="radio"] label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.form-check {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.mood-edit-content {
  padding: 30px 10px;
  text-align: center;
  color: transparent;
}

.mood-edit-title {
  color: $darkblue;
  font-size: 40px;
}

#edit_mood_1 > div {
  padding: 0 100px;
}

.mood_notes {
  display: inline-block;
  height: 200px;
  border: 5px solid $peach;
  border-radius: 30px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
  padding: 40px;
}

.form-control.is-valid {
  border-color: $darkblue;
}

.form-control.is-valid:focus {
  border-color: $darkblue;
}

// .mood-edit-input {
//   display: inline-block;

//   height: 200px;
// }
.mood-edit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 56px;
  font-size: 18px;
  border-radius: 10px;
  line-height: 1.5555555556;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: $white;
  background-color: $peach;
  transition: opacity 300ms ease-in-out;
  border: none;
  margin-bottom: 20px;
  text-decoration: none;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.mood-edit-btn:hover {
  opacity: 0.5;
}

.mood-edit-btn-inverted {
  background-color: #d9defd;
  color: $peach;
}

.mood-edit-btn-inverted a:hover {
  text-decoration: none;
  color: $peach;
}

.mood-content {
  display: flex;
  flex-direction: row;
  margin: 80px 0;
  padding: 30px;
  background-color: $white;
  color: #ffff;
  display: block;
  border-radius: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}
