#mood-log {
margin-top: 20px;
margin-bottom: 30px;

}

#date-notes-emoji {
  border: 2px solid #000;
  border-radius: 5px;
}

.mood-section {
  background-color: $peach;
}

.mood-data {
   border: 2px solid #000;
  border-radius: 5px;
}

.Mood-log-text {
  color: white;
}
