.mood-section {
  background-color: $peach;
  min-height: 90vh;
}

.mood-log-text {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 36px;
  color: $darkblue;
}

.mood-date, .mood-notes, .mood-emoji {
  display: flex;
  background-color: white;
  border: 1px solid $midblue;
  border-radius: 25px;
  justify-content: center;

  p {
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  a {
    color: #456fab;
    font-size: medium;
  }
}

.task-row {
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr 4fr 0.5fr;
grid-template-areas: "mood-date mood-notes mood-emoji";
padding: 5px 0;
}

.search-btn {
  display: none;
}

.some-text {
  display: flex;
  background-color: white;
  border: 1px solid $midblue;
  border-radius: 25px;
  justify-content: center;
}
